streamlit #for Frontend

# utilities
numpy
pandas

# face recognition
scikit-learn
dlib-bin  # best for face recognition
# model from github
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0 

# database
supabase  # database
bcrypt  #for password authentification

segno  # for QR code making
Pillow  #for deling with img



librosa   # Audio file edit and all things
resemblyzer  # embedding for voice